*{
  margin:0;
  padding:0;
}
main{
  background-color:#F5F7FB;
  width:550px;
  height:550px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
main>h1{
  font-weight:bold;
  color:#293264;
}
main>p{
  margin-top:10px;
  margin-bottom:20px;
  color:#293264;
}
main>button{
  width:193px;
  height:52px;
  border-radius:15px;
  background-color:#4D5B9E;
  font-family:inter;
  font-size:16px;
  color:#F5F7FB;
  border:none;
}
body{
  width:100%;
  display:flex;
  justify-content:center;
  font-family:karla;
}
