*{
  margin:0;
  padding:0;
}
.first-page-container{
  background-color:#F5F7FB;
  width:700px;
  height:700px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.first-page-container>h1{
  font-weight:bold;
  color:#293264;
}
.first-page-container>p{
  margin-top:10px;
  margin-bottom:20px;
  color:#293264;
}
.first-page-container>button{
  width:193px;
  height:52px;
  border-radius:15px;
  background-color:#4D5B9E;
  font-family:inter;
  font-size:16px;
  color:#F5F7FB;
  border:none;
}
body{
  width:100%;
  display:flex;
  justify-content:center;
  font-family:karla;
}
.quiz-question{
  font-family:karla;
  font-weight:bold;
  max-width:350px;
  color:#293264;
}
.quiz-options{
  padding:0 5px;
  min-width:65px;
  max-width:fit-content;
  border-radius:8px;
  background-color:#F5F7FB;
  margin-left:13px;
  margin-top:12px;
  height:20px;
  font-family:inter;
  font-weight:500px;
  font-size:10px;
  border: 0.79px solid #4D5B9E;
}
.second-page-container{
  background-color:#F5F7FB;
  width:700px;
  height:700px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.quiz-elements{
  width:450px;
  display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
  margin-bottom:30px;
}
.quiz-buttons-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.check-answers-button{
  width:120px;
  height:35px;
  border-radius:10px;
  border:#4D5B9E;
  background-color:#4D5B9E;
  font-family:inter;
  color:#F5F7FB;
}
